@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

@font-face {
  font-family: "AoyagiReisyosimo";
  src: url("/fonts/aoyagireisyosimo_otf_2_01.otf") format("opentype");
}

@font-face {
  font-family: "LinhaiLishu";
  src: url("/fonts/linhailishu.ttf") format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

